H1 {
  color: #ffffff;
}

h2, h3, h4, h5, ol {
  color: #000000;
  /* или другой подходящий цвет */
}

.card-img-top {
  width: auto;
  /* устанавливаем ширину */
  height: 200px;
  /* устанавливаем высоту */
  object-fit: cover;
  /* сохраняем пропорции изображения */
}

.card border-primary rounded custom-shadow {
  width: auto;
    /* устанавливаем ширину */
    height: auto;
    /* устанавливаем высоту */

}



.navbar-brand {
  display: flex;
  align-items: center;
  /* Центрирует элементы по вертикали */
}

.navbar-brand img {
  margin-right: 10px;
  /* Промежуток между изображением и текстом */
}



body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #a70f0f;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}


#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Заполняет всю ширину экрана */
  height: auto;
  /* Авто высота для сохранения пропорций */
  height: 400px;
  /* Минимальная высота 100% для заполнения экрана */
  z-index: -1;
  /* Под фоном, если у вас есть другие элементы на странице */
  object-fit: cover;
  /* Обрезка видео для заполнения области */
}



/* Карусель */
body {
  margin: 0;
  /* background: lightgray; */
  text-align: center;
  font-family: sans-serif;
  color: #fafafa;
}

.container-carousel {
  position: relative;
  width: 320px;
  margin: 150px auto 70px auto;
  perspective: 1000px;
  z-index: 1;
  /* Поверх блока с видео */
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  margin: 50px 10px 50px 10px;

  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.13); */
  /* display: flex; */
}

span {
  margin: auto;
  font-size: 2rem;
}

.carousel__face:nth-child(1) {
  /* background-image: url("/dev_env/mainapp/static/deps/images/goods/ammi.jpeg"); */
  transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {transform: rotateY(40deg) translateZ(430px);}

.carousel__face:nth-child(3) {transform: rotateY(80deg) translateZ(430px);}

.carousel__face:nth-child(4) {transform: rotateY(120deg) translateZ(430px);}

.carousel__face:nth-child(5) {transform: rotateY(160deg) translateZ(430px);}

.carousel__face:nth-child(6) {transform: rotateY(200deg) translateZ(430px);}

.carousel__face:nth-child(7) {transform: rotateY(240deg) translateZ(430px);}

.carousel__face:nth-child(8) {transform: rotateY(280deg) translateZ(430px);}

.carousel__face:nth-child(9) {transform: rotateY(320deg) translateZ(430px);}



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}
/* Конец карусели  */

.containercard {
  padding: 10px 0 90px 0;
  /* Или другое значение, чтобы не упираться в футер */
  border: 1px solid transparent;
  /* Убедитесь, что у контейнера есть место */
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  /* Позволяет карточкам переноситься на следующую строку */
  gap: 10px;
  /* Расстояние между карточками */
}

.custom-thumbnail {
  
  height: 300px;
  /* сохраняет пропорции */
}
.card-articles {
  height: 550px;
}



.btn.btn-primary {
  color: #ffffff;

}