{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2"><h3>{{ text_on_page }}</h3></p>
        <ol>
            <li>
                <strong>Качество материалов:</strong> Использование экологически чистых и долговечных материалов, что обеспечивает долговечность изделий.
            </li>
            <li>
                <strong>Индивидуальные заказы:</strong> Возможность создания уникальной мебели по индивидуальным проектам, что позволяет удовлетворить специфические потребности клиентов.
            </li>
            <li>
                <strong>Широкий ассортимент:</strong> Большой выбор стилей и дизайнов мебели, что позволяет каждому найти подходящий вариант.
            </li>
            <li>
                <strong>Комплексные решения:</strong> Услуги дизайна интерьеров, которые помогают клиентам правильно выбрать и разместить мебель.
            </li>
            <li>
                <strong>Гарантия качества:</strong> Длительная гарантия на все товары, что подтверждает высокие стандарты производства и уверенность в качестве продукции.
            </li>
        </ol>
        <br>

    </div>

{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Интернет магазин мебели &copy; проект 2024</p>
        </div>
    </footer>
{% endblock %}
